/* CSS Reset */
* {
	box-sizing: border-box;
}

/* Colors */
.bg-primary {
	background-color: #d75118 !important; /* !important will prioritize the value of the property */ 
}

.bg-secondary {
	background-color: #475764 !important;
}

.promo {
	background-color: #ff9900 !important;
	border-color: #ff9900;
}

/* Navbar */
#navbar ul li .nav-link {
	color: white;
}

/* Header */
.media img {
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.media .details p {
	font-size: 10px;
}